__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.nox/
.hypothesis/
.coverage
coverage.xml
htmlcov/
*.egg-info/
build/
dist/
site/
.DS_Store
.venv
.pycache
.env
.env.*
.direnv/
.envrc
.idea/
*.lock
.tmp