*.pyc
__pycache__
__pycache__/*
.idea
.idea/*
deploy/local.properties
ui/styles/*.css
dist
build
*.pid
*.egg-info
*.egg-info/*
.DS_Store
.mypy_cache
.pytest_cache

tests/.brkraw
tests/_*.ipynb
tests/tutorials
tests/_datasets

.python-version
.vscode
brkraw.log